go 1.21.6

use (
	./01_Hello
	./02._Variables
	./03_userInput
	./04_Conversions
	./05_timeHandling
	./06_Pointers
	./07_Arrays
	./08_Slices
	./09_Maps
	./10_Structs
	./11_ifElse
	./12_Switch
	./13_Loops
	./14_functions
	./15_Method
	./16_defer
	./17_Files
	./18_webRequest
	./19_HandlingUrl
	./20_GetRequest
	./21_PostRequest
	./22_SendForm
	./23_Jsondata
)
